spring:
  application:
    name: {{.ProjectName}}
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER:}
    password: ${DATABASE_PASSWORD:}
    hikari:
      connection-timeout: 5000
      maximum-pool-size: 10
      minimum-idle: 0
      validation-timeout: 2000
  flyway:
    enabled: true
  jackson:
    property-naming-strategy: SNAKE_CASE
{{- if .Files}}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 11MB
      file-size-threshold: 0
{{- end}}
server:
  port: ${HTTP_PORT:8080}
  shutdown: graceful
scaffold:
  cookie-secure: ${COOKIE_SECURE:true}
{{- if .Files}}
  files:
    root: ${FILE_STORAGE_ROOT}
{{- end}}
{{- if .Jobs}}
  worker:
    enabled: ${WORKER_ENABLED:false}
{{- end}}
