package {{.PackageName}}.cache;

public final class CacheException extends RuntimeException {

    private final Kind kind;

    public CacheException(Kind kind, String message) {
        super(message);
        this.kind = kind;
    }

    public Kind kind() {
        return kind;
    }

    public enum Kind {
        INVALID,
        MISS
    }
}
